

body{
	 
	 font-family: 'Bellota Text', cursive;
	 font-size: 20px;
	 background-color: #FFF;
	
}

/* Elementos del Navbar */

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
	list-style: none;
	font-family: 'Barrio', cursive;
	
}
.nav-item{
	padding-right: 12px;
	padding-left: 12px;
}
.navbar-light .navbar-nav .nav-link {
	 color:  #f5c787; 
	 font-size: 23px;
	
}
.navbar-toggler{
	background-color:  #0D0C0C;
	border: #f5c787; 
}

.navbar-collapse {
	background-color: #FFF;
}

.fixed-top {
    position: static;
    top: 0;
    right: 0;
    left: 0;
   
}
.navbar{
	background-color: "rgba(255, 255, 255, 0.7)",
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #F5C787;
	
}
.navbar-light .navbar-brand {
	color: #F5C787;
} 
.navbar-brand {
    display: inline-block;
	padding-top: 5;
    font-size: 1.25rem;
	white-space: nowrap;
	color: #F5C787;
}
.navbar-light .navbar-brand:hover{
	color: #F5C787;
}
.navbarText{
	color: #F5C787;
}

.nav-link {
	color: #F5C787;
}

/* Banderas */
.flag{
	max-height: 20px;
	max-width: 30px;
	margin-top: 12px;
	border-radius: 2px;
}


/* Titulo Principal */

.titulo {
	color: #F5C787;
	font-size: 50;
	text-align: center;
	font-style:inherit ;
	font-family: 'Barrio', cursive;
}

/* HR */

.titulo2 {
	margin-top: 0px;
	background-color: #F5C787;
	
}
/* Final del NavBar */


/* HELADOS.HTML */

.tituloHelados{
	color: #F5C787;
	font-size: 50;
	text-align: center;
	font-style:inherit ;
	font-family: 'Barrio', cursive;
}

.sliderImgHelados{
	margin-left: 260px;
}

.bg-light {
	background-color: #0D0C0C;
}


.col-md-6 {
	background-color: #F5C787;
}

.col-md-4 .card-body {
	background-color: #F5C787;
}

.list-group-item {
	background-color: #F5C787;
}

.card-img-top {
	background-color: #F5C787;
}

.sliderImg {

	width: 70%;
	height: 80%; 
	padding-top: 20px;
	margin-left: 219;
	margin-right: 50;
	padding-bottom: 15;

}
.correo{
	font-size: 16;
}

.reserve-container{
	position: relative;
	background-color: #F5C787;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F5C787;
    background-clip: border-box;
    border: 5px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	border-style: double;
}
.card-body{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
	
}
.card-body:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	
}

.reserve-text{
    position: absolute;
    top: 40%;
    left: 50%;
	transform: translate(-50%, -50%);
	
}

.image-reserve{
	opacity: 0.4;
	max-height: 750px;
}

.carousel-caption{
	top: 40%;
	
}

.img-slider{
	min-height: 320px;
	
}

.navMenu{
	padding-top: 75px;
	padding-bottom: 20px;
}

.card-img-top{
	height: 200px;
	border-radius: 2px;
}

.map{
	height: 320px;
}

@media screen and (max-width : 1920px){
  .only-mobile{
  visibility:hidden;
  background-color: #0D0C0C;
  }
}

@media screen and (max-width : 506px){
 
 .only-mobile{
  visibility:visible;
  background-color: #0D0C0C;
  }
}

.footer{
	margin-bottom: 30px;
	margin-top: 1px;
	padding-top: 20px;
	
}
.social-icon{
	font-size:28; 
}

footer{
	position: fixed;
	bottom: 0px;
	padding-top: 20px;
	
}

.row {
	background-color: #F5C787;
}

.gm-err-container {
    height: 100%;
    width: 100%;
    display: table;
    background-color: #e0e0e0;
    position: relative;
    left: 0;
	top: 0;
}
